@font-face {
  font-family: 'Avante';
  src: url('e.eot'); 
  src: url('e.eot?#iefix') format('embedded-opentype'), 
       url("e.woff") format("woff"),
       url("e.otf") format("opentype"),
       url("e.svg#Avante") format("svg");
  font-weight: normal;
  font-style: normal;
}

.link1
{
  color: red;
}

*
{
  font-family: 'Avante', sans-serif;
}
