@font-face {
  font-family: 'Avante';
  src: url('e.eot');
  src: local('☺'),
    url("e.woff") format("woff"),
    url("e.otf") format("opentype"),
    url("e.svg#grablau") format("svg");
}

.link1
{
  color: red;
}

*
{
  font-family: Verdana, sans-serif;

h1
{
font-family: 'Avante', sans-serif;
}
